<p>샬롬! 안녕하세요! </p>
<p>빌립보 한국학교 2020년 가을학기에 등록해 주셔서 감사합니다. 
</p>
<p>그 어느때 보다 길었던 여름방학을 마치고 가을학기를 시작하며 보고싶었던 학생들과의 만남이 벌써부터 기대가 됩니다. 올해도 하나님이 주인 되시고, 학부모와 교사, 그리고 학생이 함께 협력하여 진정한 나눔과 섬김의 경험을 나누는 공간으로 빌립보 한국학교가 자리매김하길 바라는 마음으로 새학기를 그 어느 때보다 열심히 준비하였습니다.
</p>
<p>2020-2021학년도 수업은 COVID-19 로 인해 교실에서의 수업이 가능할 때까지 온라인으로 진행합니다.
</p>
<p>1.    기간: 8월 28일(금)~12월 4일(금) 14주/ 11월 27일(추수감사절 휴강)
</p>
<p>2.    수업시간: 금요일 4:30~8:00 P.M. <br>

(학급에 따라 시간이 조금씩 달라지니 학기 시작 전에 반별로 꼭 확인 바랍니다.)<br>
<li>1교시: 60분 (경배와 찬양/한국어 수업)<br>

<li>2교시: 40분 (한국어 수업) + 20분 (저녁식사)<br>

<li>3교시: 60분 (역사문화 수업)</p>
<p>3.    수업방법: Zoom Live를 통한 원격 수업<br>

 

가을학기 수업에 필요한 교과서와 수업 준비물을 Drive-through 방식으로 전교생들에게 전달을 하고자 합니다. 부디 아래 내용을 숙지하셔서 해당일에 빌립보 교회에 오셔서 가져 가시기 바랍니다. 

 </p>
<p><Drive-through pick-up 일정>

<li>일시: 8월 22일(토요일) 2:00~3:00 P.M.

<li>장소: 빌립보 교회 (7422 Race Rd, Hanover, MD 21076)

<li>방법: 준비물 가방 수령(배정된 반과 학생이름 확인)

꼭 마스크를 착용하고 와 주시기 바랍니다. </p>
<p>
가족 모두 주님의 돌보심 안에서 늘 건강하고 평안하시길 기도합니다. 감사합니다.

</p>
 

 
 






