​​​​​​​​​​​​
<style>
.swcontainer
{background-color:white;padding:10px;}
.swunderline
{border-bottom-style:solid;border-bottom-color:#e87722;border-bottom-width:2px;padding-bottom:5px;color:#84329b;font-size:2em;font-family:"Myriad Pro", Arial, sans-serif;}
.swmidtitle
{margin-top:10px;color:#84329b;font-size:1.3em;font-family:"Myriad Pro", Arial, sans-serif;}
.swcontent
{margin-top:5px;font-size:1em;}
.swcontent_usda
{margin-top:0px;font-size:0.9em;}
.swcontainer
{background-color:white;padding:10px;}
.swunderline
{border-bottom-style:solid;border-bottom-color:#e87722;border-bottom-width:2px;padding-bottom:5px;color:#84329b;font-size:2em;font-family:"Myriad Pro", Arial, sans-serif;}
.swmidtitle
{margin-top:10px;color:#84329b;font-size:1.3em;font-family:"Myriad Pro", Arial, sans-serif;}
.swcontent
{margin-top:5px;font-size:1em;}
.swcontent_usda
{margin-top:0px;font-size:0.9em;}
tr
{border-top-width:1px;border-top-style:solid;border-top-color:#868686;}
td
{padding:5px;}
</style>​

<div class="swcontainer">

    <div class="swunderline">Employment &amp; Internship Opportunities</div>



    <br/><br/>
    <div class="swcontent">The Maryland WIC Program is looking for qualified professional and paraprofessional staff to fill a variety of positions. Individuals seeking employment should have an interest in nutrition and breastfeeding and enjoy working with children.</div>

    <br/>




    <table width="100%">
        <tbody valign="top">


            <tr class="topline">
                <td width="150px"> <b>Temporary Staff </b> </td>
                <td>Full or part-time temporary workers are hired, trained and assigned to Local Agencies who are looking for short/long-term workers. Positions are state contractual with the potential for permanent employment. The positions for recruitment
                    are: WIC Service Associate and WIC Nutrition Program Trainee. There aren&#39;t any benefits nor guaranteed a specific number of hours. Must have reliable transportation. All job training is provided.</td>
            </tr>


            <tr>


                <td class="topline1" colspan="2" style="padding: 5px 5px 10px 0px;"> </td>
            </tr>




            <tr class="topline">
                <td><b>Local Agency </b> </td>
                <td>The Maryland WIC Program has 18 Local Agencies across the state of Maryland. Job opportunities within the Local Agency are Clerk, WIC Service Associate, Nutritionist, and Breastfeeding Peer Counsellor.</td>
            </tr>




            <tr>
                <td colspan="2" style="padding: 10px 0px;">


                                    <table width="100%">

                                <tbody>
                                <tr style="background-color: rgb(163, 184, 153);">

                                    <td>Job Title</td>
                                    <td>Locations</td>
                                    <td>Salary</td>
                                    <td>Deadline</td>
                                    <td>Status</td>


                                </tr>
                                <tr>

                                    <td>PROGRAM ADMINISTRATOR</td>
                                    <td>Charles</td>
                                    <td>$46,942.00 - $56,357.00/year</td>
                                    <td>11/6/2020 </td>
                                    <td><a href="https://www.jobapscloud.com/MD/sup/bulpreview.asp?R1=20&R2=002941&R3=0007">Apply</a></td>


                                </tr>
                                </tbody>
                                </table>







				</td>
            </tr>


            <tr>


                <td class="topline1" colspan="2" style="padding: 5px 5px 10px 0px;"> </td>
            </tr>



            <tr class="topline" style="padding-top: 10px;">
                <td><b>State WIC Office</b> </td>
                <td>The Maryland State WIC Office oversees all operations throughout the state. It&#39;s located conveniently in Downtown Baltimore. There are several departments within the State WIC Office that may have employment opportunities.</td>

            </tr>

            <tr>
                <td colspan="2" style="padding: 10px 0px;">




















				</td>
            </tr>












        </tbody>

    </table>








    <div>



    </div>


    ​ ​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
</div>
​​​​​​​​​​​​​​
